.navigationBar{
    padding: 20px;
    margin-bottom: 10px;
}

.navigationBar .Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationBar .Navigation button{
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
    font-size: large;
}